body {
    background-image: url(../img/bg-image.png);
    background-size: cover;
}

.clearfix:after {
    display: block;
    content: ' ';
    clear: both;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.icon {
    background: url('../img/journey-sprites.png') -10px -111px no-repeat;
}

.colored-text {
    color: #3cb878;
    text-decoration: none;
}

.social-btn {
    width: 157px;
    height: 46px;
    box-sizing: border-box;
    color: #ffffff;
    float: left;
    line-height: 0.1;
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    margin-top: 15px;
    margin-bottom: 33px;
}

.contact-field {
    width: 100%;
    margin-bottom: 10px;
    height: 46px;
    border: 1px solid #eaeaea;
    padding: 18px;
    box-sizing: border-box;
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 14px;
    color: rgba(67, 67, 67, 255);
    outline: none;
}

.contact-field:focus {
    box-shadow: 0px 2px 3px 1px #ccc;
}

.contact-field::placeholder {
    color: rgba(190, 190, 190, 255);
}

/* HEADER SECTION */

.header {
    padding: 20px 80px;
    background-color: rgba(0, 0, 0, 0.4);
    position:relative;
}

.header::after {
    content: ' ';
    display: block;
    clear: both;
}

.header-title {
    float: left;
    font-family: Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.header-title:hover {
    color: #3cb878;
    transition: .5s ease-in-out;
}

.navbar {
    float: right;
}

.navbar-link-calendar {
    text-decoration: none;
}

.navbar-icon-calendar {
    display: inline-block;
    background-position: -10px -111px;
    width: 19px;
    height: 19px;
}

.navbar-icon-calendar:hover {
    width: 19px; height: 19px;
    background-position: -90px -71px;
    transition: .3s ease-in-out;
}

.navbar-link-forum {
    text-decoration: none;
}

.navbar-icon-forum {
    display: inline-block;
    background-position: -58px -31px;
    width: 28px;
    height: 20px;
    margin-left: 28px;
}

.navbar-icon-forum:hover {
    width: 28px; height: 20px;
    background-position: -10px -31px;
    transition: .3s ease-in-out;
}

.navbar-link-geo {
    text-decoration: none;
}

.navbar-icon-geo {
    display: inline-block;
    background-position: -50px -71px;
    width: 20px;
    height: 20px;
    margin-left: 28px;
}

.navbar-icon-geo:hover {
    width: 20px; height: 20px;
    background-position: -10px -71px;
    transition: .3s ease-in-out;
}

.login-or-signup {
    float: right;
    color: #ffffff;
    margin-left: 50px;
}

.login-or-signup-link:hover {
    border-bottom: 1px solid #3cb878;
}

.change-theme {
    float: right;
    margin-left: 20px;
    background-color: #3cb878;
    color: lightyellow;
    outline: none;
}

.change-theme.white-theme {
    background-color: #fff;
    color: black;
}

/* SIGN UP SECTION */

.main-content {
    /*position: relative;*/
}

.green-square {
    position: absolute;
    background-color: #3cb878;
    width: 18px;
    height: 18px;
    left: 0;
    top: 29px;
}

.signup {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: calc(50% - 260px);
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px 60px;
    box-sizing: border-box;
}

.signup-title {
    font-family:  ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    float: left;
    color: #505050;
}

.change-to-login {
    float: right;
    font-size: 14px;
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-weight: 700;
}

.login-via-facebook {
    margin-right: 10px;
    background-color: #305db8;
}

.login-via-facebook:hover {
    background-color: #264b96;
    transition: .5s ease-in-out;
}

.login-via-facebook::before {
    content: 'f';
    margin-right: 28px;
    font-size: 24px;
    font-weight: 700;
}

.login-via-google {
    background-color: #df4a32;
    margin-top: 14px;
}

.login-via-google:hover {
    background-color: #c3412c;
    transition: .5s ease-in-out;
}

.login-via-google::before {
    content: 'G+';
    margin-right: 28px;
    font-size: 22px;
    font-weight: 600;
}

.or-text-divider {
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    color: #848484;
    line-height: 0.1;
    margin-bottom: 18px;
}

.or-text-divider::before {
    float: left;
    background: url("../img/journey-sprites.png") -10px -10px;
    content: ' ';
    width: 135px;
    height: 1px;
    margin-right: 23px;
}

.or-text-divider::after {
    float: right;
    background: url("../img/journey-sprites.png") -10px -10px;
    content: ' ';
    width: 135px;
    height: 1px;
}

/*#checkbox-agree-with-terms {*/
/*    margin-top: 22px;*/
/*    margin-bottom: 28px;*/
/*    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;*/
/*    font-size: 14px;*/
/*}*/

.checkbox-agreement {
    display: none;
}

.agree-with-terms-label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-bottom: 28px;
    margin-top: 22px;
}

.checkbox-agreement + .agree-with-terms-label:before {
    content: '';
    background: #fff;
    border-radius: 5px;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-agreement:checked + .agree-with-terms-label:after {
    content: "";
    padding: 2px;
    text-align: center;
    position: absolute;
    width: 1px;
    height: 5px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 2px;
    left: 5px;
}

.terms-link {
    text-decoration: none;
}

.terms-link:hover {
    border-bottom: 1px solid #3cb878;
}

.create-account {
    width: 100%;
    background-color: #3cb878;
    color: #ffffff;
    height: 46px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
}

.create-account:hover {
    background-color: #329a65;
    transition: .5s ease-in-out;
}

